{#
/**
 * @file
 * mt_countdown module block template.
 */
 #}

<style>

  .mt-count-down-block {
    background-color: {{ data.background }};
  }
  .mt-count-down__title {
    color: {{ data.title_color }};
  }
  .mt-count-down__message {
    color: {{ data.message_color }};
  }
  .mt-count-down__notes {
    color: {{ data.notes_color }};
  }
  .mt-count-down__button {
    background-color: {{ data.button_background }};
    color: {{ data.button_color }};
  }

</style>
<div class="mt-count-down mt-count-down-block">
  <div class="mt-row">

    <div class="mt-col-md-8">
      <div class="mt-row">

        <div class="mt-col-sm-8 mt-col-xs-12">

          <div class="mt-count-down__title">
            {% if data.title %}
              {{ data.title|t }}
            {% endif %}
          </div>

          <div class="mt-count-down__text">
            {% if data.prompt_message %}
              {{ data.prompt_message|t }}
            {% endif %}
          </div>

        </div>

        <div class="mt-col-sm-4 mt-col-xs-12">
          {% if data.target_url and data.dismiss_text %}
            <a class="mt-count-down__button button button--small" href="{{ data.target_url }}">{{ data.dismiss_text|t }}</a>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="mt-col-md-4">
      <div class="mt-count-down__daysto">
        <span class="mt-count-down__notes">
          {% if data.days_to %}
            {{ data.days_to|t }}
          {% endif %}
        </span>
        <div class="mt-count-down-slot"></div>
      </div>
    </div>

  </div>
</div>
