{#
/**
 * @file
 * mt_countdown module block template.
 */
 #}

<style>

  .mt-count-down-block {
    background-color: {{ data.background }};
  }
  .mt-count-down__title {
    color: {{ data.title_color }};
  }
  .mt-count-down__message {
    color: {{ data.message_color }};
  }
  .mt-count-down__notes {
    color: {{ data.notes_color }};
  }
  .mt-count-down__button {
    background-color: {{ data.button_background }};
    color: {{ data.button_color }};
  }

</style>

<div class="row mt-count-down-block">
  {% if data.days_to %}
    <div class="col-md-4 order-md-2">
      <div class="mt-count-down__daysto text-center text-ms-right">
        <span class="mt-count-down__notes">{{ data.days_to|t }}</span>
        <div class="mt-count-down-slot"></div>
      </div>
    </div>
  {% endif %}

  <div class="col-xs-12 col-md-6">
    {% if data.title %}
      <div class="mt-count-down__title">{{ data.title|t }}</div>
    {% endif %}
    <div class="mt-count-down__message">{{ data.prompt_message|t }}</div>
  </div>

  <div class="col-xs-6 col-md-3">
    <a class="mt-count-down__button button button--small" href="{{ data.target_url }}">{{ data.dismiss_text|t }}</a>
  </div>
</div>
