
    <style>

      .mt-count-down {
        background-color: {{ background }};
      }

      .mt-count-down__title {
        color: {{ title_color }};
      }

      .mt-count-down__message {
        color: {{ message_color }};
      }

      .mt-count-down__notes{
        color: {{ notes_color }};
      }

      .mt-count-down__button{
        background-color: {{ button_background }};
        color: {{ button_color }};
      }

    </style>

    {% if admin_part == false %}
    <div class="{{ predefined_palettes }} mt-count-down alert alert-dismissible fade show" role="alert">

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="container">
        <div class="row">
          <div class="col-md-4 order-md-2">
            <div class="mt-count-down__daysto text-center text-ms-right">
              <span class="mt-count-down__notes">{{ days_to|t }}</span>
              <div class="mt-count-down-slot"></div>
            </div>
          </div>
          <div class="col-md-8 order-md-1">
            <div class="row">
              <div class="col-sm-8 col-xs-12">
                <div class="mt-count-down__title">{{ title|t }}</div>
                <div class="mt-count-down__message">{{ alert_message|t }}</div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <a href="{{ target_url }}" class="mt-count-down__button button button--small">{{ dismiss_text|t }}</a>
              </div>
            </div>
          </div>
        </div>  <!-- /.row -->
      </div> <!-- /.container -->
    </div>
    {% endif %}
